{
  "API_URL": "http://localhost:4242",
  "ADAPTER": "stdbot-flowdock",
  "ADAPTER_CONFIG": null,
  "FLOWDOCK_TOKEN": "",
  "FLOWDOCK_FLOWS": "pongdome",
  "FLOWDOCK_USER": "true",
  "ADMINS": "Rambo"
}
