const Flowdock = require('stdbot-flowdock')

module.exports = {
  api: 'http://localhost:4242',
  adapter: Flowdock({
    token: '',
    flows: ['pongdome'],
    streamConfig: {
      user: true
    }
  }),
  admins: ['rambo']
}
