{
  "flowdock_auth": "token",
  "pg": "PostgreSQL URI",
  "buttons": {
    "player_one": {
      "red": 19,
      "green": 26
    },
    "player_two": {
      "red": 16,
      "green": 20
    }
  }
}
